:root {
	--ultra-light:hsl(33,100%,98%);
	--light:hsl(33,100%,95%);
	--medium:hsl(56,7%,51%);
	--dark:hsl(190,10%,24%);
}
html {
	font-size: 62.5%;
}
body {
	background-color:var(--dark) ;
	font-family: "Raleway", sans-serif;
	color: var(--light);
	font-size:1.6rem ;
	font-weight: 300;
	line-height: 1.6;
}
